    <table border="1">
        <tr>
            <td>First Name</td>
            <td>{{firstName}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{lastName}}</td>
        </tr>
        <tr *ngIf="ShowDetails">
            <td>Gender</td>
            <td>{{Gender}}</td>
        </tr>
        <tr *ngIf="ShowDetails">
            <td>Age</td>
            <td>{{Age}}</td>
        </tr>
    </table>
<button (click)="ToggleDetails()">
    {{ShowDetails?'Show':'HIde'}} Details
</button>

