
<div *ngIf="employee">
    <table border="1">
        <tr>
            <td>First Name</td>
            <td>{{employee.code}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{employee.name}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{employee.gender}}</td>
        </tr>
        <tr>
            <td>annualSalary</td>
            <td>{{employee.annualSalary}}</td>
        </tr>
        <tr>
            <td>dateOfBirth</td>
            <td>{{employee.dateOfBirth}}</td>
        </tr>
    </table>
</div>

<div *ngIf="!employee">
    There  is no employee.
</div>