
<table border="1">
    <thead>
        <th>Employee Code</th>
        <th>Employee Name</th>
        <th>Employee Gender</th>
        <th>Employee Annual Salary</th>
        <th>Employee Date of Birth</th>
        <th>index</th>
        <th>Is First</th>
        <th>Is Last</th>
        <th>Is Even</th>
        <th>Is Odd</th>
    </thead>
    <tbody>
        <tr *ngFor='let Employee of employees;trackBy:trackByEmployee;let i=index;let isFirst=first;let isLast=last;let isEven=even;let isOdd=odd;'>
            <td>{{ Employee.code }} </td>
                <td>{{ Employee.name }}</td>
                <td>{{ Employee.gender }}</td>
                <td>{{ Employee.annualSalary }}</td>
                <td>{{ Employee.dateOfBirth }}</td>
                <td>{{i}}</td>
                <td>{{ isFirst }}</td>
                <td>{{ isLast }}</td>
                <td>{{ isEven }}</td>
                <td>{{ isOdd }}</td>
        </tr>
        <tr *ngIf='!employees || employees.length==0'>
            <td colspan="5">There is no Employee</td>
        </tr>
    </tbody>
</table>

<br />
<br />
<button (click)='GetEmployees()'>Refresh employee</button>


